.topbar {
  width: 100%;
  height: 70px;
  background-color: #eae8e6;
  position: sticky;
  top: 0;
  z-index: 999;
}

.announcementAdmin {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 600;
}

.announcementAdminEnable {
  margin-right: 5px;
  background-color: white;
  border-radius: 8px;
}

.announcementAdminEnable:hover {
  background-color: #f8f4f4;
}

.announcementAdminEnable:active {
  background-color: #104a36;
  color: white;
}

.announcementAdminDisable {
  margin-right: 20px;
  background-color: white;
  border-radius: 8px;
}

.announcementAdminDisable:hover {
  background-color: #f8f4f4;
}

.announcementAdminDisable:active {
  background-color: #104a36;
  color: white;
}

.AlSukkariyaLogo {
  margin-left: 20px;
  margin-top: 5px;
  height: 70px;
  width: 70px;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #236750;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topProfilePic {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  cursor: pointer;
}
